{% with test_timeout=10, use_docker_image_for_test_target=false, test_target_interactive=true %}
{% include "include/test_target.jinja2" %}
{% endwith %}
    - name: sleep-before-adb-available
      prompts:
        - console:/
        - root@(.*):[/~]#
      script:
      - command: echo ===========================
      - command: i=0 && while ! getprop sys.boot_completed|grep 1 && [ $i -le 30 ]; do let i=i+1; echo sleep $i*10s for sys.boot_completed; sleep 10; done; echo "for prompt";
      - command: if ! getprop sys.boot_completed|grep 1 ; then logcat -d; echo "Failed to boot successfully"; exit 1; fi
      - command: echo ===========================
      - command: i=0 && while ! getprop init.svc.adbd|grep running && [ $i -le 15 ]; do let i=i+1; echo sleep $i*10s for init.svc.adbd; sleep 10; done; echo "for prompt";
      - command: if ! getprop init.svc.adbd|grep running; then logcat -d; echo "Failed to have adbd running"; exit 1; fi
      - command: echo ===========================
      - command: getprop | grep adb
      - command: echo ===========================

{% with test_timeout=post_boot_timeout %}
{% include "include/test_target.jinja2" %}
{% endwith %}
    - from: inline
      path: android-boot.yaml
      name: android-boot
      repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: android-boot
          description: "android-boot"
        run:
          steps:
            - lava-test-case "android-boot-wait-for-device" --shell adb wait-for-device
            - lava-test-case "android-boot-boot-completed" --shell "while ! adb shell getprop sys.boot_completed|grep 1; do sleep 2; done"
            - lava-test-case "android-boot-set-power-stayon" --shell adb shell su 0 svc power stayon true
            - lava-test-case "android-boot-screencap" --shell adb shell screencap -p /data/local/tmp/screencap.png
            - lava-test-case "android-boot-fstab" --shell adb shell "su 0 cat /vendor/etc/fstab.*"
            - lava-test-case "android-boot-kernel-version" --shell adb shell su 0 cat /proc/version
            - lava-test-case "android-boot-kernel-cmdline" --shell adb shell su 0 cat /proc/cmdline
