{% with test_timeout=5, use_docker_image_for_test_target=false, test_target_interactive=true %}
{% include "include/test_target.jinja2" %}
{% endwith %}
    - name: sleep-before-adb-available
      prompts:
        - console:/
        - root@(.*):[/~]#
      script:
      - command: "echo ==========================="
      - command: "sleep 120"
      - command: "echo ==========================="
      - command: "getprop | grep adb"
      - command: "echo ==========================="

{% with test_timeout=post_boot_timeout %}
{% include "include/test_target.jinja2" %}
{% endwith %}
    - from: inline
      path: android-boot.yaml
      name: android-boot
      repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: android-boot
          description: "android-boot"
        run:
          steps:
            - lava-test-case "android-boot-sleep-30secs" --shell sleep 30
            - lava-test-case "android-boot-boot-completed" --shell "while ! adb shell getprop sys.boot_completed|grep 1; do sleep 2; done"
            - lava-test-case "android-boot-set-power-stayon" --shell adb shell su 0 svc power stayon true
            - lava-test-case "android-boot-screencap" --shell adb shell screencap -p /data/local/tmp/screencap.png
