{% include PROJECT+"include/sdcard-u-boot-create-partitions.jinja2" %}
{% include PROJECT+"include/sdcard-u-boot-fastboot.jinja2" %}
{% include PROJECT+"include/sdcard-u-boot-erase-partitions.jinja2" %}
{% include PROJECT+"include/sdcard-u-boot-fastboot.jinja2" %}
{% include PROJECT+"include/sdcard-u-boot-deploy.jinja2" %}
