{% with use_docker_image_for_boot=true, TARGET_BOOT_TIMEOUT=15, boot_method="fastboot", auto_login=true, AUTO_LOGIN_PROMPT=U_BOOT_PROMTP_MESSAGE, AUTO_LOGIN_USERNAME="echo", BOOT_OS_PROMPT="=>", AUTO_LOGIN_COMMANDS=["echo after erase partitions and for deploy images", "echo =>; run fastboot"] %}
{% include "include/boot_target/boot_target.jinja2" %}
{% endwith %}
    # Setting prompt string to ['Linux version [0-9]']
    # auto-login-action: Wait for prompt ['Linux version [0-9]'] (timeout 00:15:00)
    parameters:
      kernel-start-message: {{ U_BOOT_PROMTP_MESSAGE }}
