{% if ANDORID_BUILD_CONFIG_URL is defined %}
{% set opt_build_config_url = "-cu " + ANDORID_BUILD_CONFIG_URL %}
{% if DEV_PRIVATE_USER is defined and DEV_PRIVATE_PASSWORD is defined %}
{## need both user and passwork privated and only when config url specified  ##}
{## Other cases are not supported for now ##}
{% set opt_build_config_url = opt_build_config_url + " -u " + DEV_PRIVATE_USER + " -p " + DEV_PRIVATE_PASSWORD %}
{% endif %}
{% else %}
{% set opt_build_config_url = "" %}
{% endif %}

{% if BUILD_REFERENCE_IMAGE_GZ_URL is defined %}
{% set opt_image_gz_url = "-k " + BUILD_REFERENCE_IMAGE_GZ_URL %}
{% else %}
{% set opt_image_gz_url = "" %}
{% endif %}

{% if TUXSUITE_BAKE_VENDOR_DOWNLOAD_URL is defined %}
{% set opt_tuxsuite_download_url = "-v " + TUXSUITE_BAKE_VENDOR_DOWNLOAD_URL %}
{% else %}
{% set opt_tuxsuite_download_url = "" %}
{% endif %}

{% if REFERENCE_BUILD_URL is defined %}
{% set opt_reference_url = "-ru " + REFERENCE_BUILD_URL %}
{% else %}
{% set opt_reference_url = "" %}
{% endif %}

{% if REFERENCE_BUILD_URL_GSI is defined %}
{% set opt_reference_url_gsi = "-rug " + REFERENCE_BUILD_URL_GSI %}
{% else %}
{% set opt_reference_url_gsi = "" %}
{% endif %}

{% if TUXSUITE_BAKE_VENDOR_DOWNLOAD_URL is defined %}
    postprocess:
        docker:
            image: linaro/lava-android-postprocess:bullseye-2024.03.13-01
            local: true
            steps:
            - linaro-lkft-android.sh -g {{opt_image_gz_url}} {{opt_tuxsuite_download_url}} {{opt_reference_url}} {{opt_reference_url_gsi}} -c {{LKFT_BUILD_CONFIG}} {{opt_build_config_url}}
{% if IMAGE_SUPPORTED_SDCARD %}
            - mv -vf /lava-downloads/{{ DOCKER_BOOT_FILE }} /lava-downloads/sdcard-{{ DOCKER_BOOT_FILE }}
            - cp -uvf /lava-downloads/{{ DOCKER_U_BOOT_FILE }} /lava-downloads/{{DOCKER_BOOT_FILE}}
{% endif %}
{% endif %}
